[data-blazy],[data-blazy] *{box-sizing:border-box;}.media{position:relative;}.media.media--ratio{display:block;height:0;overflow:hidden;width:100%;}.media.js-media--ratio{height:auto;}.media--ratio .media__element{display:block;height:100%;left:0;position:absolute;top:0;width:100%;z-index:0;}.media--ratio--11{padding-bottom:100%;}.media--ratio--32{padding-bottom:66.66%;}.media--ratio--43{padding-bottom:75%;}.media--ratio--85{padding-bottom:62.5%;}.media--ratio--169{padding-bottom:56.25%;}.field[data-blazy]{min-width:50%;}
