/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

 .active-trail is-active a:link {
  color: green;
}

/*Pozadinska boja od navbara kod header */
.navbar-default{
  background-color: #fff;
  border-color:#fff;
}

body{
  overflow: hidden;
}

/* Podesavanja o headeru */


button.navbar-toggler.navbar-toggler-right{
  width: 50%
}
button.navbar-toggler.navbar-toggler-right.collapsed{
  width: 50%
}

span.navbar-toggler-icon{
  background: #000000;
  float: right;

}



#block-navbarforbootstrap4header{
  width: 100%;

}

/* .navbar-nav.ml-auto{
  float: right;
} */

.brand_logo{
  float: left;
}

@media (max-width: 991px){
  ul.navbar-nav.ml-auto{
    align-items: center;
  }

}



@media (min-width: 992px){
  .navbar-expand-md.navbar-nav {
      
      flex-direction: row;
  }
  .navbar-nav.ml-auto{
    text-align: center;
    float: none;
  }
  ul.navbar-nav.ml-auto{
    margin-top: 70px;
    margin-right: 100px;
    float: right;
  }
  #block-navbarlogoforthecollapsednavbar{
    display: none;
  }

}


header.container{
  width: 100%;

}

@media (min-width: 768px){
.container {
    /* max-width: 720px; */
    max-width: 100vw;

}
}

@media (min-width: 576px){
.container {
    /* max-width: 720px; */
    max-width:100vw;
}
}





/* @media (min-width: 992px){
.navbar-expand-md.navbar-nav {
    
    flex-direction: row;
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
} */





header{
  width: 100vw;
  background-color: red;
}

ul.header-nav {
  background:#fff;
  padding:20px;
  width: 100%;
  color:black;
}


 nav.navbar.navbar-expand-lg.navbar-light.bg-light{
   background-color: #fff;
 }



.navbar-dark .navbar-nav .nav-link {
  color: red;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: red;
  text-decoration: underline;
}



 li.nav-item{
   color: red;
 }
#navbar-main{
  background-color: white;
}
 
 .navbar>.container.navbar>.container-fluid {
   margin: 0;
 }


div.container{
  background-color:white; 
  width: 100vw;
  margin: 0 auto;
}

.navbar.navbar-expand-lg.navbar-dark.static-top{
  margin: 0 auto;
  width: 100vw;
  display: block;
}

@media screen and (max-width: 991px){

  .brand_logo{
    display: none;
  }
  
  }


/* About us ulepsavanja*/

#block-onama h2{
  text-align: center;
  color: red;

}

.contextual-region.block.block-block-content.block-block-content09cbb016-c811-4dc7-9cd8-be46223e9a63 h2{
text-align: center;
color: red;

}
/* centriranje slike sto se nalazi u slideshow */

#views_slideshow_cycle_teaser_section_slideshow-block_1 {
margin: 0 auto;
}

.skin-default{
  margin: 0 auto;
}
.section {
  margin-top: 30px;
}

#views_slideshow_cycle_teaser_section_slideshow-block_1{
width: 100%;
}

.views_slideshow_cycle_teaser_section{
  width: 100%;


}

div.field-content{
  width: 100%;
}

div.views_slideshow_cycle_teaser_section{
  width: 100%;
}
div#views_slideshow_cycle_teaser_section_-block_1{
  width: 100%;
}

/* .image-style-slideshow-image-style{
  width: 100%;
 
} */



@media screen and (min-width: 992px){
  
  #block-barrio-custom-logoimageresized  {
    display: none;
  }
  }
  
  #block-smallnavbarlogoimage .img-responsive {
  margin: 0 auto;
  
  }



header{
  width: 100vw;
}



 */
/* kraj podesavanja za navbar, ispod podesavanja za content AboutUs*/



h2.block-title {
  color: red;
  text-align: center;
}

#block-barrio-custom-onama h2{
  color: red;
  text-align: center;
} 


.contextual-region.block.block-block-content.block-block-content0e1804ed-c1a3-461b-8607-329702a71672{
  margin-top: 30px;
  margin-bottom: 15px;
}


/* Kraj podesavanja za content about us */


/*SERVICES Ulepsavanje */


img.image-style-large{
  width: 100%;;
  height: auto;
}

#block-views-block-services-block-1 h2{
  text-align: center;
  color: red;
}

h2.field-content.services-title a{
  color: red;
}


/*FOOTER PODESAVANJA  */

.footer_logo {
  color: black;
  text-align: center;
}

.site-footer .content {
  /* color: #c0c0c0; */
  color: #212529;
  font-size: 0.857em;
}




.row.region.region-footer-first{
  width: 40%;
  margin-right: 20px;
}

.site-footer__top .content li a{
  color: red;
}

.site-footer__top .content li a:hover{
  color: red;
  text-decoration: underline;
}

.site-footer__top .content li a:active{
  color: #000000;
  text-decoration: underline;
}
.site-footer__top .content li a:visited{
  color:red;
  text-decoration: underline;
}

.row.region.region-footer-third{
  margin-left: 40px;
}

.row.region.region-footer-fourth{
  margin-left: 30px;
}


.views-field-field-image-fid img {
  border-style:solid;
  border-width:1px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align:center;
  } 

  #block-footer2ndblock ul{
    list-style-type: none;

  }

  #block-footer4thblock ul{
    list-style-type: none;
  }


   @media (min-width: 993px){
  .navbar-expand-md .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
  } }








/* ANIMATIONS FOR A BUTTON*/
.btn:hover{
  color:white;
  text-decoration: underline;
  background-color: red;
}


.btn {

  padding: 15px;
  color: white;
  background: red;
  font-weight: 100;
  margin: auto;
  -webkit-animation: vibrate-1 0.8s linear 4 both;
	        animation: vibrate-1 0.8s linear 4 both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-10-3 15:35:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

